<label htmlFor="maxCP" class="max-cp">
  <input type="checkbox" id="maxCP" (change)="onMaxCPChange($event)" />
  <small>
    Maximum Combat Points
  </small>
</label>
<input
  type="text" class="input" placeholder="Pokemon or type"
  (keyup)="onInputChange($event)"
/>
<div class="loader" *ngIf="loading"></div>
<ng-template [ngIf]="(pokemons$ | async)?.length > 0" [ngIfElse]="noPokemons">
<ul class="suggestions">
  <li *ngFor="let pokemon of pokemons$ | async">
    <img
      [src]="pokemon.img"
      alt=""
    />
    <div class="info">
      <!--<h1><span class="hl">Pika</span>chu</h1>-->
      <h1 [innerHTML]="highlightName(pokemon.Name)"></h1>
      <span class="type {{getPokemonTypeClass(type)}}" *ngFor="let type of pokemon.Types">{{type}}</span>
    </div>
  </li>
</ul>
</ng-template>
<ng-template #noPokemons>
  <ul class="suggestions">
    <li>
      <img
        src="https://cyndiquil721.files.wordpress.com/2014/02/missingno.png"
        alt=""
      />
      <div class="info">
        <h1 class="no-results">
          No results
        </h1>
      </div>
    </li>
  </ul>
</ng-template>
